<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/competHabilidades.css' />
        <script defer src="/javascripts/ppcs.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        
        <div><p>Competência/Habilidade: <%= competHabilidade.competHabilidade %></p></p></div>
        <div><p>Curso: <%= competHabilidade.CursoPlanoPedagogico.Curso.cursoNome %></p></p></div>  
        <hr>

      </div>
        
      <div>
        
        Ano de voto do PPC:  <%= competHabilidade.CursoPlanoPedagogico.votoAno %>
         
      </div>
      <div class="corpo disciplinasCards">
        <% let contador = 1 %> 
        <% competHabilidade.CursoPlanoPedagogicoDisciplinaVersao.forEach(relacao => { %>
          <% if(contador == 6){ %>
            
            <div class="primeiro cardContainer contador1 intermediario>"><div class="disciplinaCardNulo"></div></div>
            <div class="cardContainer intermediario>"><div class="disciplinaCardNulo"></div></div>
            <div class="cardContainer intermediario>"><div class="disciplinaCardNulo"></div></div>
            <div class="cardContainer intermediario>"><div class="disciplinaCardNulo"></div></div>
            <div class="cardContainer intermediario>"><div class="disciplinaCardNulo"></div></div>
            
            <% contador = 1 %>
            <div class="cardContainer contador<%= contador %>">
              <div class="disciplinaCard">
                <%= relacao.semestre %>  -  <%= relacao.DisciplinaVersao.Disciplina.disciplinaNome %>
                <% contador = contador + 1 %> 
              </div>
            </div>

          <% } else { %>

            <div class="cardContainer contador<%= contador %>">
              <div class="disciplinaCard">
                <a href="/disciplinasVersoes/info/<%=relacao.DisciplinaVersao.disciplinaVersaoId%>">
                  <%= relacao.semestre %>  -  <%= relacao.DisciplinaVersao.Disciplina.disciplinaNome %>
                  <% contador = contador + 1 %>
                </a>
              </div>
              
            </div>
          <% } %>
        <% }) %>

      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
