<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/cursos.css' />
        <script defer src="/javascripts/cursos.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        
          <div><p>Nome do Curso: <%= curso.cursoNome %>  </p></p></div>
            
          <% if(curso.ativo == 1){ %>  
            <div><p> Curso ativo  </p></div></br>
          <% } %>
          <hr>

      </div>
        
      <div class="ppcsCards">
        <% curso.CursoPlanoPedagogico.forEach(ppc => { %>
          <div class="ppcCard">
            <a href="">
              <div> Votado em: <%= ppc.votoAno %></div>              
              <div> Horas por crédito: <%= ppc.horaCredito %></div> </br></br>
              <div> <%= ppc.inicioData %> - <%= ppc.fimData %> </div>
            </a>
          </div>
        <% }) %>
         
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
