<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/cursos.css' />
        <script defer src="/javascripts/cursos.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        <div class="cabecaDaTabela">
          <div class="itemDaCabecaDaTabela" id="nomeCursoTop">Nome do Curso</div>
          <div class="itemDaCabecaDaTabela" id="ativoTop">Ativo</div>
          <div class="itemDaCabecaDaTabela" id="ppcAtualTop">PPC Atual</div>
        </div>
        <hr>

        
        <% allCursos.forEach(curso => { %>
          <div class="colunaDaTabela">
            <div class="itemDaColunaDaTabela" id="nomeCurso"> <a href="/cursos/<%= curso.cursoId %>"><%=curso.cursoNome %></a> </div>
            
            <% if (curso.ativo == 1){ %>

              <div class="itemDaColunaDaTabela" id="ativo"> Sim </div>
            
            <% }else { %>

              <div class="itemDaColunaDaTabela" id="ativo"> Não </div>

            <% } %>
            <div class="itemDaColunaDaTabela" id="nomeCurso"> <%=curso.ppcAtual %> </div>
          </div>
          <hr>
        <% }) %>
        
          <a href="/cursos/creatingcurso">Criar novo curso</a>
        
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
