<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/disciplinas.css' />
        <script defer src="/javascripts/disciplinas.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        <div class="cabecaDaTabela">
          <div class="itemDaCabecaDaTabela" id="disciplinaNomeTop">Disciplina</div>
          <div class="itemDaCabecaDaTabela" id="conhecimentoAreaTop">Área do conhecimento</div>
          
      </div>
        <hr>

        
      <% allDisciplinas.forEach(disciplina => { %>
        <a class="colunaDaTabela" href="/disciplinas/<%= disciplina.disciplinaId %>" >
          <div class="itemDaColunaDaTabela" id="cursoNome"> <%=disciplina.disciplinaNome %> </div>
          <div class="itemDaColunaDaTabela" id="votoAno"> <%=disciplina.ConhecimentoArea.conhecimentoArea %> </div>                 
        </a>
        <hr>
      <% }) %>
      
        
        <a href="/disciplinas/creatingdisciplina">Criar nova disciplina</a>
        
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
