<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/disciplinas.css' />
        
        <script defer src="/javascripts/disciplinas.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        
          <div class="cabecalho">
            <p class="info1"> Disciplina: <%=disciplina.disciplinaNome %> </p>
            <p> Área do conhecimento: <%= disciplina.ConhecimentoArea.conhecimentoArea %> </p>
          </div>
          
          
          <hr>
        
      </div>
      <div class="secundario">
        <div class="egressosPerfis">
        </div>  
      </div>
      <div class="versoesCards">
        <% disciplina.DisciplinaVersao.forEach(versao => { %>
          <a href="/disciplinasVersoes/info/<%= versao.disciplinaVersaoId %>">
          <div class="versaoCard">
            
              <div> Versao: <%= versao.disciplinaVersaoNome %></div>              
              <div> Sigla: <%= versao.sigla %></div> 
              <div> Créditos: <%= versao.creditoQuantidade %></div></br></br>
              <div> Código<%= versao.codigo %> </div>
            
          </div>
          </a>
        <% }) %>
         
      </div>
      <a href="/disciplinasVersoes/creatingdisciplinaVersao">Criar nova Versão de Disciplina</a>
    </div>

    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
