<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/ppcs.css' />
        <link rel='stylesheet' href='/stylesheets/disciplinas.css' />
        <link rel='stylesheet' href='/stylesheets/disciplinasVersoes.css' />
      
        <script defer src="/javascripts/ppc.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        
          <div class="cabecalho">
            <p class="info1"> Curso: <%=ppc.Curso.cursoNome %> </p>
            <p> Ano do PPC: <%= ppc.votoAno %> </p>
          </div>
          <div class="cabecalho">
            <p class="info1">Hora por crédito: <%= ppc.horaCredito %>  </p>
            <p>Período de atividade: De <%= ppc.inicioData %> até <%= ppc.fimData %>  </p>
          </div>
          <div></div>
          <hr>
        
      </div>
      <div class="secundario">
        <div class="egressosPerfis">
          <h3>Perfils de egressos</h3>
          <% ppc.EgressoPerfil.forEach(perfil =>{ %>
            
            <div class="egressoPerfil">
              
              <div class="numero"> <%= perfil.perfilNumero %>: </div>  <div> <%= perfil.perfil %> </div> 
            </div>

          <% }) %>
        </div>
        <div class="competHabilidades">
          <h3>Competências e habilidades</h3>
          <% ppc.CompetHabilidade.forEach(compet =>{ %>
            
            <div class="competHabilidade">
              <div class="numero"> <%= compet.competHabilidadeNumero %>: </div>  <div> <%= compet.competHabilidade %> </div> 
            </div>

          <% }) %>
        </div>
      </div>
      <div>
        
        <h4>Adicionar disciplinas</h4>
        <div class="semestres">
          <% for(idx=0;idx < ppc.semestreQuantidade; idx++){ %>
            
            <div class="semestre" id= <%= idx+1 %> onmouseover="criarBotao(this)" onmouseleave="destruirBotao()">
             Semestre <%= idx+1 %><br>
                <div class="disciplinasExistentesDiv">
                  
                    <div class="cabecaDaTabela">
                      <div class="itemDaCabecaDaTabela" id="disciplinaNomeTop">Disciplina</div>
                      <div class="itemDaCabecaDaTabela" id="creditoQuantidadeTop">Créditos</div>
                    </div>
                    <hr>
                    <% ppc.dataValues.RelacaoDisciplinaVersaoPPC.forEach(relacao => { %>
                      <% if(relacao.semestre == idx + 1){ %>
                        <a class="colunaDaTabela" href="/PPCs/<%= %>" >
                          <div class="itemDaColunaDaTabela" id="disciplinaNome"> <%= relacao.DisciplinaVersao.Disciplina.disciplinaNome %> </div>
                          <div class="itemDaColunaDaTabela" id="creditoQuantidade"> <%= relacao.DisciplinaVersao.creditoQuantidade %> </div>     
                        </a>
                                            
                  
                    <% } %>
                        
                <% }) %>
                
                  <div class="colunaDaTabela total">
                    <div class="itemDaColunaDaTabela" id="totalTexto"> Total de créditos </div>
                    <div class="itemDaColunaDaTabela" id="creditoQuantidadeTotal"> <%= ppc.creditosTotal[idx] %> </div>
                  </div>
                </div>
                  <img src="/images/somaSimbolo.png" class="addBotao hidden" id= <%= idx+1 %> onclick="criarForm(this)">
                <div class="disciplinaSearchDiv" >

                  
                </div>  
            </div>
          <% } %>
          <input type="ppcId" class="hidden" name="ppcId" id="ppcId" value= <%= ppc.ppcId %>>  
        </div>
      </div>
      <div class="divSuspensaContainer">
        <div class="esmaecimento hidden"></div>
        <div class="disciplinasNomesLista hidden"></div>
        <div class="disciplinasVersoesNomesLista hidden"></div>
        <div class="disciplinasVersoesDetalhes hidden"></div>
      </div>
    </div>
    
    
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
