<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/ppcs.css' />
        <script defer src="/javascripts/pPCs.js"></script>
  </head>
  <body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="princiapl">
        <div class="cabecaDaTabela">
          <div class="itemDaCabecaDaTabela" id="cursoNomeTop">Curso</div>
          <div class="itemDaCabecaDaTabela" id="votoAnoTop">Ano do voto</div>
          <div class="itemDaCabecaDaTabela" id="horaCreditoTop">Horas por crédito</div>
          <div class="itemDaCabecaDaTabela" id="inicioDataTop">Data de início</div>
          <div class="itemDaCabecaDaTabela" id="fimDataTop">Data de fim</div>
      </div>
        <hr>

        
      <% allPPCs.forEach(pPC => { %>
        <a class="colunaDaTabela" href="/PPCs/<%= pPC.ppcId %>" >
          <div class="itemDaColunaDaTabela" id="cursoNome"> <%=pPC.Curso.cursoNome %> </div>
          <div class="itemDaColunaDaTabela" id="votoAno"> <%=pPC.votoAno %> </div>
          <div class="itemDaColunaDaTabela" id="horaCredito"> <%=pPC.horaCredito %> </div>
          <div class="itemDaColunaDaTabela" id="inicioData"> <%=pPC.inicioData %> </div>
          <div class="itemDaColunaDaTabela" id="fimData"> <%=pPC.fimData %> </div>
                 
        </a>
        <hr>
      <% }) %>
      
        
        <a href="/PPCs/creatingppc">Criar novo PPC</a>
        
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
